<div class="container-fluid center-container">
	<div class="row">
	<div class="col-sm-12">
		<h1>Admin Dashboard</h1>
	</div>
	</div>
</div>
<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Events</h1>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>title</th>
			<th>date</th>
			<th>manage</th>
		</tr>
		<% @events.each do |event| %>
			<tr>			
			<td><%= event.title %></td>
			<td><%= event.date.strftime('%b %d') %>, <%= event.city %> <%= event.state %></td>
			<td><%= link_to 'details', event_path(event) %> |
				<%= link_to 'edit', edit_event_path(event) %> |
				<%= link_to 'delete', edit_event_path(event), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
			</tr>
		<% end %>
		<tr><td colspan="3"></td></tr>
	</table>
		<div class="row">
		<div class="col-sm-12">
			<%= link_to 'New Event', new_event_path, class: 'btn btn-lg btn-primary' %>
			<hr>
		</div>

	</div>
</div><!-- EVENT DESKTOP AND MOBILE -->
<hr>
<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Options</h1>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>title</th>
			<th>event</th>
			<th>price</th>
			<th>manage</th>
		</tr>
		<% @options.each do |option| %>
			<tr>			
				<td><%= option.title %></td>
				<td><%= option.event.title %></td>
				<td><%= option.price %></td>
				<td><%= link_to 'details', option %> |
					<%= link_to 'edit', edit_option_path(option) %> |
					<%= link_to 'delete', option_path(option), method: :delete, data: { confirm: 'Are you sure?' } %>
				</td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4"></td>
		</tr>
	</table>
		<div class="row">
			<div class="col-sm-12">
				<%= link_to 'New Event Option', new_option_path, class: 'btn btn-lg btn-primary' %>
				<hr>
			</div>
		</div>
</div> <!-- options desktop and mobile -->
<hr>
<!-- Reservations -->
<div class="container-fluid events-container hidden-xs">
	<div class="row">
		<div class="col-sm-12">
			<h1>Registrations</h1>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>name</th>
			<th>lastname</th>
			<th>order id</th>
			<th>email</th>
			<th>phone</th>
			<th>event</th>
			<th>event option</th>
			<th>status</th>
			<th>manage</th>
		</tr>
		<% @reservations.each do |reservation| %>
			<tr>			
			<td><%= reservation.name %></td>
			<td><%= reservation.lastname %></td>
			<td><%= link_to reservation.order_id, orders_path %></td>
			<td><%= reservation.email %></td>
			<td><%= reservation.phone %></td>
			<td><%= reservation.event.title %></td>			
			<td><%= reservation.option.title %></td>
			<td><%= reservation.reservation_status.name %></td>
			<td><%= link_to 'details', reservation %> |
				<%= link_to 'edit', edit_reservation_path(reservation) %> |
				<%= link_to 'delete', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
			</tr>
		<% end %>
		<tr><td colspan="9"></td></tr>
	</table>
	<div class="row">
		<div class="col-sm-12">
			
			<hr>
		</div>
	</div>
</div> <!-- Reservations Desktop-->
<div class="container-fluid events-container visible-xs-block">
	<div class="row">
		<div class="col-sm-12">
			<h1>Registrations</h1>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>email</th>
			<th>event</th>
			<th>date</th>
			<th>manage</th>
		</tr>
		<% @reservations.each do |reservation| %>
			<tr>			
			<td><%= reservation.email %></td>	
			<td><%= reservation.option.title %></td>
			<td><%= reservation.created_at.strftime("%m/%d/%Y") %></td>
			<td><%= link_to 'details', reservation %></td>
			</tr>
		<% end %>
		<tr><td colspan="7"></td></tr>
	</table>
	<div class="row">
		<div class="col-sm-12">
			
			<hr>
		</div>
	</div>
</div> <!-- Reservations Mobile-->
<!-- Purchases -->
<div class="container-fluid events-container hidden-xs">
	<div class="row">
		<div class="col-sm-12">
			<h1>Purchases</h1>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>email</th>
			<th>customer id</th>
			<th>amount</th>
			<th>order</th>
			<th>id</th>
			<th>uuid</th>
			<th>manage</th>
		</tr>
		<% @purchases.each do |purchase| %>
			<tr>			
			<td><%= purchase.customer_email %></td>
			<td><%= purchase.customer_id %></td>
			<td><%= purchase.amount %></td>
			<td><%= link_to purchase.order_id, orders_path %></td>
			<td><%= purchase.id %></td>
			<td><%= purchase.uuid %></td>
			<td><%= link_to 'details', purchase %> |
				<%= link_to 'edit', edit_purchase_path(purchase) %> |
				<%= link_to 'delete', purchase_path(purchase), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
			</tr>
		<% end %>
		<tr><td colspan="7"></td></tr>
	</table>
	<div class="row">
		<div class="col-sm-12">
			
			<hr>
		</div>
	</div>
</div> <!-- PURCHASES DESKTOP -->
<div class="container-fluid events-container visible-xs-block">
	<div class="row">
		<div class="col-sm-12">
			<h1>Purchases</h1>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>email</th>
			<th>amount</th>
			<th>order</th>
			<th>id</th>
			<th>date</th>
			<th>manage</th>
		</tr>
		<% @purchases.each do |purchase| %>
			<tr>			
			<td><%= purchase.customer_email %></td>
			<td><%= cents_to_dollars(purchase) %></td>
			<td><%= link_to purchase.order_id, orders_path %></td>
			<td><%= purchase.created_at.strftime("%m/%d/%Y") %></td>			
			<td><%= link_to 'details', purchase %>
			</td>
			</tr>
		<% end %>
		<tr><td colspan="7"></td></tr>
	</table>
	<div class="row">
		<div class="col-sm-12">
			
			<hr>
		</div>
	</div>
</div> <!-- PURCHASES MOBILE -->
<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Contacts</h1>
		</div>
	</div>
		<table class="table">
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Phone</th>
		      <th>Event</th>
		      <th>Comment</th>
		      <th colspan="3"></th>
		    </tr>
		  </thead>

		  <tbody>
		    <% @contacts.each do |contact| %>
		      <tr>
		        <td><%= contact.name %></td>
		        <td><%= contact.email %></td>
		        <td><%= contact.phone %></td>
		        <td><%= contact.event %></td>
		        <td><%= contact.comment %></td>
		        <td><%= link_to 'Show', contact %></td>
		        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
		        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		      </tr>
		    <% end %>
			<tr><td colspan="8"></td></tr>
		  </tbody>
		</table>
	<div class="row">
		<div class="col-sm-12">
			
			<hr>
		</div>
	</div>
</div>



