<div class="container-fluid events-container">
    <div class="row">
    <div class="col-sm-12"> <h2>Registration Options: </h2></div>
  </div>
  <% @options.each_slice(1) do |option| %>
    <div class="panel items-panel"> 
      <% option.each do |item| %>
          <div class="panel-body">
            <h3><%= item.title %> | Price: <%= number_to_currency(item.price) %></h3>
             <p>This price will change on: <%= item.saleEnd.strftime('%m/%d') %></p>
            <h3>Service Fee: <%= number_to_currency(item.fee) %></h3>              
            <p><%= item.description %></p>
          </div>
          <div class="panel-footer">
            <%= link_to 'Show', option_path(option), :class => 'btn btn-lg btn-primary' %>
            <%= link_to 'Edit', edit_option_path(option), :class => 'btn btn-lg btn-primary' %>
            <%= link_to 'Delete', option_path(option), method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-lg btn-primary' %>
          </div>
      <% end %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <%= link_to 'New Option', new_option_path, :class => 'btn btn-lg btn-primary' %>
          <hr>
    </div>
  </div>
</div>


