<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 eventInfo">
        <div class="col-sm-12">
          <span class="text-center uppercase primary-color"><p class="text-center">Please review and continue.</p></span>
          <h2><%= @option.title %></h2>
          <p><%=raw @option.description %></p>
        </div>
        <div class="col-sm-12">
          <h4>Price: <%= number_to_currency(@option.price) %></h4>
          <h4>Fee: <%= number_to_currency(@option.fee) %></h4>
          <h4>Event: <%= @option.event.title %> </h4>
          <br>
          <%= link_to 'Next Step >', new_option_registration_path(@option), :class => "btn btn-lg btn-primary" %>
        </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>