<div class="container-fluid ">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 eventInfo">
        <div class="col-sm-12">
<!--           <span class="text-center uppercase primary-color"><p class="text-left">Please review and continue.</p></span> -->
          <h2><%= @option.title %></h2>
          <h4>Event: <%= @option.event.title %> </h4>
          <p><%=raw @option.description %></p>
        </div>
        <div class="col-sm-12">
          <h4>Price: <%= number_to_currency(@option.price) %></h4>
          <h4>Fee: <%= number_to_currency(@option.fee) %></h4>
        </div>
        <div class="col-sm-12" id="cart-text">
          <% if current_order.reservations.size === 0 %>
              <h3>You have no Registrations in your cart</h3>
          <% end %>
          <% if current_order.reservations.size > 0 %>
          <div><%= link_to "#{current_order.reservations.size} Registrations in Cart - Proceed to Checkout ( #{number_to_currency current_order.subtotal} )", cart_path, class: "cart-snippet" %></div>
          <% end %> 
          <br>         
        </div>
        <!-- START FORM -->
        <div class="col-sm-12">
          <%= form_for( @reservation, remote: true) do |f| %>
            <div class="form-group">
              <%= f.label :name %><br>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label(:lastname, "Last Name" )%><br>
              <%= f.text_field :lastname, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label(:age, "Age" )%><br>
              <%= f.text_field :age, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label(:phone, "Phone" )%><br>
              <%= f.text_field :phone, placeholder: "(###)-###-####", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label(:email, "Email" )%><br>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label(:team, "Team" )%><br>
              <%= f.text_field :team, placeholder: "Team Name if applicable",class: 'form-control' %>
            </div>                          
            <div class="form-group">
            <%= f.label(:gender, "Gender" )%><br>
              <%= f.select(:gender, options_for_select(@gender.collect) , {prompt: 'Select Gender'}, class: "form-control" )%><br>
            </div>                        
            <div class="form-group">
            <%= f.label(:shirt, "Select Shirt Size" )%><br>
              <%= f.select(:shirt, options_for_select(@shirtSizes.collect) , {prompt: 'Select shirt'}, class: "form-control" )%><br>
            </div>
            <div class="form-group">
              <%= f.label(:redeemcode, "Redeem Code" )%><br>
              <%= f.text_field :redeemcode, placeholder: "Redeemcode if applicable - Groupon / Gustazos Code",class: 'form-control' %>
            </div>                                     
          <div><%= f.hidden_field :option_id, value: @option.id  %></div>

            <div class="actions">
              <%= f.submit(value="Submit", class: "btn btn-primary") %>
            </div>
          <% end %>
         <div id="registrations-added"><p>Registration Added</p></div>

        </div>
        <!-- END FORM -->
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>

<script>
  
  // New Reservation Ajax Sucess events

  $('#new_reservation').bind('ajax:success', function(){
    this.reset(), // resets the registration form
    $("#registrations-added").animate({  // animates In the registration confirmation 
        opacity: 1,
        marginLeft: "100px"
      }, {duration:800, easing:'easeOutCubic'}).delay(800);

    $("#registrations-added").animate({ // animates Out the registration confirmation 
        marginLeft: "50px",
        opacity: 0
      });
    ;
  });
  
</script>