<!-- <div class="container-fluid regular-container spacer-top-lg">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<img class="img-responsive"src="https://s3.amazonaws.com/regisport/application/Oh-No.svg" alt="">
		</div>
	</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<span class="dark-title">Oh-no! We don't have any upcoming events!</span>
	</div>
</div>	
</div>
 -->

<% @events.each do |event| %>
	<% if event.active? %>
	<div class="container-fluid events-container">
		<div class="row">
			<div class="col-sm-12 eventInfo">
				<div class="panel">		
					<div class="panel-heading">
						<%= image_tag(event.image, class: 'img-responsive') %>
					</div>	
					<div class="panel-body clear-padding-top">
						<div class="row ">
							<div class="col-sm-8 col-sm-offset-2 ">
								<h3><%= event.title %></h3>
								<span class="sub-title"><strong>When: </strong>
								<%= event.date.strftime('%b %d, %y') %> | <%= event.startTime %>
								</span>
								<br>
								<span class="sub-title"><strong>Where: </strong>
								<%= event.city %>, <%= event.state %></span>
								<p><%=raw event.description %></p>
								<%= link_to 'Details', event_path(event), class: 'btn btn-primary btn-lg' %>									
							</div>
						</div>	<!-- row -->
					</div> <!-- end panel body -->
				</div> <!-- end panel -->
			</div>					
		</div>
	</div>
	<% end %>
<% end %>

<script>
  
  // New Reservation Ajax Sucess events

  $('#new_contact').bind('ajax:success', function(){
    this.reset(), // resets the registration form
    $("#contact-added").animate({  // animates In the registration confirmation 
        opacity: 1,
        marginLeft: "100px"
      }, {duration:800, easing:'easeOutCubic'}).delay(800);

    $("#contact-added").animate({ // animates Out the registration confirmation 
        marginLeft: "50px",
        opacity: 0
      });
    ;
  });
  
</script>