<div class="container-fluid regular-container spacer-top-lg">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3">
			<img class="img-responsive"src="https://s3.amazonaws.com/regisport/application/Oh-No.svg" alt="">
		</div>
	</div>
<div class="row">
	<div class="col-sm-6 col-sm-offset-3 text-center">
		<span class="dark-title">Oh-no! We don't have any upcoming events!</span>
	</div>
</div>	
</div>


<% @events.each do |event| %>
<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12 eventInfo">
			<div class="panel">		
				<div class="panel-heading">
				<%= image_tag(event.image, class: 'img-responsive') %>
				</div>	
				<div class="panel-body">
					<span><h1><%= event.title %></h1></span>
					<span><h3><%= event.date.strftime('%b %d') %> | <%= event.city %> <%= event.state %></h3></span>
					<p><%=raw event.description %></p>
					
				</div>
				<div class="panel-footer"><%= link_to 'Details', event_path(event), class: 'btn btn-primary btn-lg' %></div>
			</div>
		</div>					
	</div>
</div>
<% end %>