<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :active %><br>
    <%= f.check_box :active, class: "form-control" %>
  </div>  
  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :date %><br>
    <%= f.date_select :date, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :venue %><br>
    <%= f.text_field :venue, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :organizer %><br>
    <%= f.text_field :organizer, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :website %><br>
    <%= f.text_field :website, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description, class: "form-control ckeditor"  %>
  </div>
  <div class="form-group">
    <%= f.label :longdescription %><br>
    <%= f.text_area :longdescription, class: "form-control ckeditor"  %>
  </div>  
  <div class="form-group">
    <%= f.label :startTime %><br>
    <%= f.text_field :startTime, class: "form-control"  %>
  </div>
  <div class="form-group">
    <%= f.label :endTime %><br>
    <%= f.text_field :endTime, class: "form-control"  %>
  </div>
    <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image, class: "form-control"  %>
  </div>
      <div class="form-group">
    <%= f.label :imagebig %><br>
    <%= f.file_field :imagebig, class: "form-control"  %>
  </div>

  <div class="">
    <%= f.submit 'Submit', :class => "btn btn-default" %>
  </div>
<% end %>
