

<div class="container-fluid events-container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Orders</h1>
		</div>
	</div>
	<div class="row">
 		<div class="col-sm-6 form-group">
			<%= form_tag orders_path, :method => 'get', class:"" do %>
			<p>
				<%= text_field_tag :search, params[:search] %>
				<%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
			</p>
			<% end %>
		</div> 
	
 		<div class="col-sm-6 form-group">
			<%= form_tag orders_path, :method => 'get', class:"" do %>
			<p>
				<%= select_tag :search_by_status, options_from_collection_for_select(OrderStatus.all, :id, :name, params[:search_by_status])  %>
				<%= submit_tag "Search", :name => nil, class:"btn btn-primary" %>
			</p>
			<% end %>
		</div>
	</div>
	<table class="table">
		<tr>
			<th>Order Id</th>
			<th>amount</th>
			<th>status</th>
			<th>Last Updated</th>
			<th>manage</th>
		</tr>
		<% @orders.each do |order| %>
			<tr>			
			<td><%= order.id %></td>
			<td><%= order.total %></td>
			<td><%= order.order_status.name %></td>
			<td><%= order.updated_at %></td>
			<td><%= link_to 'details', order %> |
				<%= link_to 'edit', edit_order_path(order) %> |
				<%= link_to 'delete', order_path(order), method: :delete, data: { confirm: 'Are you sure?' } %>
			</td>
			</tr>
		<% end %>
		<tr><td colspan="4"></td></tr>
	</table>
	<div class="row">
		<div class="col-sm-12">
			
			<hr>
		</div>
	</div>
</div>
