<h1>Thanks for your order</h1>
<h3>Confirmation number: <span class="primary-color"><%= @purchase.uuid %></span></h3>
<h3>Order total: <span class="primary-color"><%= number_to_currency(@purchase.amount.to_d / 100) %></span></h3>
<h3>Your Registrations: </h3>
<% @order.reservations.each do |reservation| %>
	<h4>Name: <%= reservation.name %> <%= reservation.lastname %> </h4>
	<h4>T-Shirt: <%= reservation.shirt %> Team: <%= reservation.team %> </h4>
	<h4>Event: <%= reservation.event.title %> | Registration: <%= reservation.option.title %> </h4>
	<h4>Event Date: <%= reservation.event.date %></h4>
	<h4>Event Organizer: <%= reservation.event.organizer %></h4>
	<h4>Tel: <%= reservation.event.phone %> Email: <%= reservation.event.email %> </h4>
	<hr>
<% end %>
<p>For event information please contact the event organizer. For order cancelation and refund please email us at: events@regisport.run. Please include your confirmation number, order email, and your contact information.</p>