<div class="container-fluid regular-container spacer-top-lg">
  <div class="row">
    <div class="col-sm-7 col-sm-offset-3 spacer-top-sm">
      <h4>Thanks for contacting us. We'll contact you soon</h4>
      <h4>Gracias! Nos contactaremos pronto con usted</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-7 col-sm-offset-3 ">
      <p>
        <strong>Name:</strong>
        <%= @contact.name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @contact.email %>
      </p>

      <p>
        <strong>Phone:</strong>
        <%= @contact.phone %>
      </p>

      <p>
        <strong>Event:</strong>
        <%= @contact.event %>
      </p>

      <p>
        <strong>Comment:</strong>
        <%= @contact.comment %>
      </p> 
    </div>
  </div>
  <br>
</div>
