<div class="container-fluid events-container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Registrations</h1>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>name</th>
      <th>lastname</th>
      <th>email</th>
      <th>phone</th>
      <th>event</th>
      <th>event option</th>
      <th>manage</th>
    </tr>
    <% @reservations.each do |reservation| %>
      <tr>      
      <td><%= reservation.name %></td>
      <td><%= reservation.lastname %></td>
      <td><%= reservation.email %></td>
      <td><%= reservation.phone %></td>
      <td><%= reservation.event.title %></td>     
      <td><%= reservation.option.title %></td>
      <td><%= link_to 'details', reservation %> |
        <%= link_to 'edit', edit_reservation_path(reservation) %> |
        <%= link_to 'delete', reservation_path(reservation), method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
      </tr>
    <% end %>
    <tr><td colspan="7"></td></tr>
  </table>
  <div class="row">
    <div class="col-sm-12">
      
      <hr>
    </div>
  </div>
</div>