<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reservation.name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @reservation.lastname %>
</p>

<p>
  <strong>Age:</strong>
  <%= @reservation.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @reservation.gender %>
</p>

<p>
  <strong>Email:</strong>
  <%= @reservation.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @reservation.phone %>
</p>

<p>
  <strong>Team:</strong>
  <%= @reservation.team %>
</p>

<p>
  <strong>Shirt:</strong>
  <%= @reservation.shirt %>
</p>

<p>
  <strong>Redeemcode:</strong>
  <%= @reservation.redeemcode %>
</p>

<p>
  <strong>Option:</strong>
  <%= @reservation.option.title %>
</p>

