  <div id="active-cart-reservations">
		<% @reservations.try(:each) do |reservation| %>
			<div class="row">
				<div class= "col-xs-12 col-sm-10 col-sm-offset-1">
					<h2><%= reservation.name %> <%= reservation.lastname %> <%= number_to_currency(reservation.price) %></h2>
				</div>
			</div> <!-- row -->
			<div class="row">
				<div class= "col-xs-12 col-sm-10 col-sm-offset-1">
					<h4><span><%= reservation.event.title %></span> | <%= reservation.option.title %> | <span> <%= reservation.gender %></span> | Age: <%= reservation.age %> | <span><%= reservation.shirt %></span></h4>
					<h4><%= link_to 'remove', reservation, method: :delete, remote: true, class: "btn btn-primary btn-sm"  %></h4>
				</div>
			</div> <!-- row -->
			<hr>
		<% end %>
	</div>

